:root {
  /* Colors */
  --black-color: #000;
  --white-color: #fff;
  --green-color: #00ff0a;
  --purple-color: #451076;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row + .row {
  margin-top: 16px;
}

/* .row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "gothicpixelsmedium";
  src: url("../fonts/gothicpixels-webfont.eot");
  src: url("../fonts/gothicpixels-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/gothicpixels-webfont.woff2") format("woff2"),
    url("../fonts/gothicpixels-webfont.woff") format("woff"),
    url("../fonts/gothicpixels-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixantiquamedium";
  src: url("../fonts/pixantiqua-webfont.eot");
  src: url("../fonts/pixantiqua-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pixantiqua-webfont.woff2") format("woff2"),
    url("../fonts/pixantiqua-webfont.woff") format("woff"),
    url("../fonts/pixantiqua-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  color: var(--white-color);
  background-color: var(--black-color);
  font-family: "pixantiquamedium", serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.bg-nav {
  background-color: var(--black-color);
}

.topbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-height: 94px;
}

nav img {
  max-height: 47px;
  margin: 19px 25px 14px;
}

@media (min-width: 1200px) {
  nav img {
    max-height: 62px;
  }

  h1 {
    font-size: 300px;
  }
}

@media (min-width: 992px) {
  .img-menu {
    display: none;
  }
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 30px;
  padding: 27px 0 0 0;
}

@media (max-width: 992px) {
  .nav-desktop {
    display: none;
  }
}

.nav-desktop a,
p {
  text-decoration: none;
  font-size: 32px;
}

.nav-button {
  margin: 0 64px 0 0;
}

.language-fr {
  color: var(--green-color);
}

.bg-header {
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.titlebox {
  padding: 42px 0 57px;
}

h1 {
  font-family: "gothicpixelsmedium", serif;
  text-align: center;
  font-size: 52px;
  color: var(--green-color);
  font-weight: 500;
}

.titlebox p {
  text-align: center;
  font-size: 16px;
  color: var(--green-color);
  line-height: 130%;
  letter-spacing: 0.4px;
  margin: 25px 34px 30px;
}

.button {
  border: 2px solid var(--green-color);
  background: var(--black-color);
  max-width: fit-content;
  margin: auto;
  padding: 7px 16px;
}

.button p {
  color: var(--green-color);
  font-size: 18px;
  text-align: center;
  margin: 0;
}

main {
  background-color: var(--black-color);
}

h2 {
  text-align: center;
  color: var(--green-color);
  font-size: 22px;
  font-weight: 500;
  margin: 55px 0 15px;
}

main p {
  text-align: center;
  color: var(--white-color);
  font-size: 16px;
}

.p-gap {
  margin: 0 0 22px;
}

main img {
  max-width: 229px;
}

.article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.article img {
  margin: 16px 0 0;
}

.article .button {
  margin: 30px 0 101px;
}

@media (min-width: 1200px) {
  main p {
    font-size: 30px;
  }

  .p-gap {
    margin: 0 0 30px;
  }

  .article img {
    max-width: 421px;
  }

  .button {
    padding: 10px 30px;
  }

  .button p {
    font-size: 35px;
  }
}

.bg-color {
  background-color: var(--purple-color);
  padding: 0 52px 0;
}

.bg-color-degradee {
  height: 81px;
  background: rgb(69, 16, 118);
  background: linear-gradient(
    180deg,
    rgba(69, 16, 118, 0.30434782608695654) 0%,
    rgba(69, 16, 118, 0.29977116704805495) 33%,
    rgba(69, 16, 118, 0.6018306636155606) 33%,
    rgba(69, 16, 118, 0.5995423340961099) 66%,
    rgba(69, 16, 118, 0.7986270022883295) 66%,
    rgba(69, 16, 118, 0.8009153318077803) 100%
  );
}

.bg-color-degradee-reversed {
  height: 81px;
  background: rgb(69, 16, 118);
  background: linear-gradient(
    0deg,
    rgba(69, 16, 118, 0.30434782608695654) 0%,
    rgba(69, 16, 118, 0.29977116704805495) 33%,
    rgba(69, 16, 118, 0.6018306636155606) 33%,
    rgba(69, 16, 118, 0.5995423340961099) 66%,
    rgba(69, 16, 118, 0.7986270022883295) 66%,
    rgba(69, 16, 118, 0.8009153318077803) 100%
  );
}

.bg-color h2 {
  color: var(--white-color);
  margin: 30px 0 27px;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 117px;
  }

  .titlebox p {
    font-size: 32px;
  }

  h2 {
    font-size: 38px;
  }
}

h3 {
  color: var(--green-color);
  font-size: 26px;
  font-weight: 500;
  margin: 8px 0 0;
}

.card {
  background-color: var(--black-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 35px 30px;
  margin: auto;
  margin-bottom: 60px;
  width: 286px;
  height: 363px;
  height: calc(100% - 60px);
}

.card img {
  max-width: 172px;
}

.card p {
  font-size: 13px;
  margin: 8px 0 0;
}

.card .name {
  font-size: 22px;
}

@media (min-width: 1200px) {
  .card {
    width: 263px;
    height: 517px;
    padding: 0 24px 30px;
  }

  .card img {
    max-width: 218px;
  }

  .card p {
    font-size: 18px;
  }

  h3 {
    font-size: 38px;
  }

  .card .name {
    font-size: 28px;
    margin: 0 0 20px;
  }
}

.article-subscription h2 {
  margin: 78px 0 8px;
}

.article-subscription img {
  margin: 0 0 6px;
}

.article-subscription {
  padding: 0 25px 0;
}

footer .bg-color {
  background: rgb(69, 16, 118);
  background: linear-gradient(
    180deg,
    rgba(69, 16, 118, 0.3) 0%,
    rgba(69, 16, 118, 0.3) 7.5%,
    rgba(69, 16, 118, 0.6) 7.5%,
    rgba(69, 16, 118, 0.6) 15%,
    rgba(69, 16, 118, 0.8) 15%,
    rgba(69, 16, 118, 0.8) 22.5%,
    rgba(69, 16, 118, 1) 22.5%,
    rgba(69, 16, 118, 1) 100%
  );
  padding: 135px 25px 0;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 5px;
}

footer p {
  font-size: 13px;
  margin: 0 0 61px;
}

footer img {
  max-width: 64px;
  margin: 0 11px 0 0;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 38px;
  }

  footer p {
    font-size: 18px;
  }

  footer img {
    max-width: 106px;
    margin: 0;
  }

  footer .bg-color {
    padding: 135px 80px 0 150px;
  }
}
