:root {
  /* Colors */
  --black-color: #000;
  --white-color: #fff;
  --green-color: #00ff0a;
  --purple-color: #451076;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row + .row {
  margin-top: 16px;
}

/* .row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */

html {
  font-size: 16px;
}

@font-face {
  font-family: "gothicpixelsmedium";
  src: url("../fonts/gothicpixels-webfont.eot");
  src: url("../fonts/gothicpixels-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/gothicpixels-webfont.woff2") format("woff2"),
    url("../fonts/gothicpixels-webfont.woff") format("woff"),
    url("../fonts/gothicpixels-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pixantiquamedium";
  src: url("../fonts/pixantiqua-webfont.eot");
  src: url("../fonts/pixantiqua-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pixantiqua-webfont.woff2") format("woff2"),
    url("../fonts/pixantiqua-webfont.woff") format("woff"),
    url("../fonts/pixantiqua-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  color: var(--white-color);
  font-family: "pixantiquamedium", serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.bg-nav {
  background-color: var(--black-color);
}

.topbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

nav img {
  max-height: 47px;
  margin: 19px 25px 14px;
}

@media (min-width: 992px) {
  nav img {
    max-height: 68px;
  }
}

.bg-header {
  background-image: url(../img/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.titlebox {
  padding: 42px 0 57px;
}

h1 {
  font-family: "gothicpixelsmedium", serif;
  text-align: center;
  font-size: 52px;
  color: var(--green-color);
  font-weight: 500;
}

.titlebox p {
  text-align: center;
  font-size: 16px;
  color: var(--green-color);
  line-height: 130%;
  letter-spacing: 0.4px;
  margin: 25px 34px 30px;
}

.button {
  border: 2px solid var(--green-color);
  background: var(--black-color);
  max-width: fit-content;
  margin: auto;
  padding: 7px 16px;
}

.button p {
  color: var(--green-color);
  font-size: 18px;
  text-align: center;
  margin: 0;
}

main {
  background-color: var(--black-color);
}

h2 {
  text-align: center;
  color: var(--green-color);
  font-size: 22px;
  font-weight: 500;
}

main p {
  text-align: center;
  color: var(--white-color);
  font-size: 16px;
}

main img {
  max-width: 229px;
}

.article {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
